<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%-5level %date{"HH:mm:ss,SSS"} %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>
  <appender name="ASYNCSTDERR" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDERR" />
  </appender>

  <root level="WARN">
    <appender-ref ref="ASYNCSTDERR" />
  </root>
</configuration>
